@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
h1{
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-6);
    font-family: 'Mea Culpa', cursive;
}
p{
    font-size: var(--font-size-3);
    font-family: var(--font-serif);
}